@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.uppercase {
    text-transform: uppercase;
}
.main-header__page {
    width: 1200px;
    height: 100vh;
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.main-nav {
    padding: 20px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    /* position: fixed; */
}

.main-nav__list {
    display: flex;
    font-family: 'Nunito';
}

.main-nav__list a {
    padding-right: 50px;
    text-decoration: none;
    
}
.nav-list__item {
    list-style-type: none;
}


.footer {
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    width: 95%;
}
.woek-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.woek {
    width: 50%;
}
.footer-heading {
    margin: 0px 0px 100px 73px;
    padding-top: 60px;
    font-family: 'Nunito';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer-parag {
    font-family: 'Nunito';
    margin: 0px 0px 100px 73px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}
.btn-talk {
    background: #5A98D0;
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 50px;
}
.woek-section a {
    text-decoration: none;
}
.afrianska {
    display: flex;
    margin: 50px 100px;
    justify-content: space-between;
}
.footer-logo {
    font-family: 'Nunito';
    padding: 15px 0;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer-item {
    padding: 10px 0;
    font-family: 'Nunito';
    list-style-type: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer-parag__end {
    margin-left: 100px;
    padding-bottom: 60px;
    font-family: 'Nunito';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}